.imagen {
  width: 30px;
  margin-top: 25px;
  margin-right: 20px;
}

.contenedorCantidad {
  position: absolute;
  border-radius: 70%;
  right: 41px;
  top: 35px;
}
.cantidad {
  font-size: 15px;
  font-weight: 800;
  text-align: center;
  color: rgb(250, 250, 250);
}
